#dark_theme_container {
  top: 12px;
  right: 15px;
  position: absolute;
  z-index: 99999;
  color: white;
}

@media (max-width:325px) {
  .container>.navbar-header, .container-fluid>.navbar-header {
    height: 70px;
  }
  #dark_theme_container {
    top: 42px;
    left: 15px;
    right: none;
  }
}

.navbar-nav {
  margin: 0;
}

ul#app_navbar {
    padding: 0;
}

.navbar-default {
    overflow: hidden;
    width: 100vw;
}

.ritz.grid-container {
    background: #ffffff;
    overflow: auto;
}
    
p {
  margin: 0;  
}

tr.even, tr.odd {
    height: 33px;
}

:focus-visible {
    outline: none;
}

.container-fluid {
  padding: 0px;
  /*overflow: scroll;*/
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.btn:focus-visible {
  outline: none !important;
}


.navbar-header, .tab-content {
    padding-left: 15px;
    padding-right: 15px;
}

ul.nav.navbar-nav {
    font-size: 16px;
    padding-left: 15px;
}

.row-header-wrapper {
    display: none;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.column-headers-background {
    display: none;
}

.waver > div {
  background-color: #0033A0;
}

.well {
    min-height: 100vh;
}

ul.nav.navbar-nav {
    font-size: 16px;
}

.navbar-nav>li {
    text-align: center;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    margin-top: 0;
}

table.dataTable, .dataTables_wrapper .dataTables_info {
    font-size: 14px;
}

.dataTables_info {
    margin-left: 250px;  
}

label, .control-label, .help-block, .checkbox, .radio {
    font-size: 13px;
    font-weight: normal;
}

table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    position: absolute;
    display: block;
    opacity: 100;
    right: 10px;
    font-size: 12px;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 13px;
}

.selectize-input.items.full.has-options.has-items {
    height: 34px;
    border-radius: 0px;
}

.selectize-input > * {
    vertical-align: middle;
    font-size: 16px;
}

.selectize-dropdown.single.plugin-selectize-plugin-a11y {
    font-size: 16px;
}

.label-info {
    background-color: #afafaf;
}

.material-switch>label:after {
    background: #cdcdcd;
}

.material-switch>label:before {
    background: #cdcdcd;
}

#keep_alive {
  visibility: hidden;
  height: 0;
}

.btn-default,
.selectize-input.full,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.btn-default:active, .btn-default.active,
.open>.dropdown-toggle.btn-default,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.open>.dropdown-toggle.btn-default.focus,
.selectize-input, 
.selectize-control.single .selectize-input.input-active,
.selectize-dropdown, 
.selectize-dropdown.form-control {
    font-size: 13px;
}

.form-control {
    height: 36px;
    font-size: 16px;
    margin-bottom: 14px;
}

.selectize-input {
    border: 1px solid #cccccc;
    padding: 4px 12px;
    font-size: 16px;
}

.navbar-default {
    background-color: #004970;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #09385c;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #005583;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #000000;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus {
    outline: none;
}


.form-group.shiny-input-container, .shiny-input-container:not(.shiny-input-container-inline) {
  width: inherit;
}