.navbar-default {
    background-color: #004970;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #09385c;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #005583;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #000000;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus {
    outline: none;
}


.form-group.shiny-input-container, .shiny-input-container:not(.shiny-input-container-inline) {
  width: inherit;
}