p {
  margin: 0;  
}

tr.even, tr.odd {
    height: 33px;
}

:focus-visible {
    outline: none;
}

.container-fluid {
  padding: 0px;
  overflow-x: auto;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.btn:focus-visible {
  outline: none !important;
}


.navbar-header, .tab-content {
    padding-left: 15px;
    padding-right: 15px;
}

ul.nav.navbar-nav {
    font-size: 16px;
    padding-left: 15px;
}

.row-header-wrapper {
    display: none;
}

.column-headers-background {
    display: none;
}

.waver > div {
  background-color: #0033A0;
}

.well {
    min-height: 100vh;
}

ul.nav.navbar-nav {
    font-size: 16px;
}

.navbar-nav>li {
    width: 200px;
    text-align: center;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    margin-top: 0;
}

table.dataTable, .dataTables_wrapper .dataTables_info {
    font-size: 14px;
}

.dataTables_info {
    margin-left: 250px;  
}

label, .control-label, .help-block, .checkbox, .radio {
    font-size: 13px;
    font-weight: normal;
}

.ritz.grid-container {
  background: #ffffff;
}

table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    position: absolute;
    display: block;
    opacity: 100;
    right: 10px;
    font-size: 12px;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 13px;
}

.selectize-input.items.full.has-options.has-items {
    height: 39px;
    border-radius: 0px;
}

.selectize-input > * {
    vertical-align: middle;
    font-size: 16px;
}